#container
{
	margin: 0 30px;
	background: #fff;
}

#header
{
	background: #0000FF;
	padding: 20px;
}

#header h1 { margin: 0;
	     color: #FFFFFF; 
}

#navigation
{
	float: left;
	width: 100%;
	background: #0000FF;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #0000FF;
	text-decoration: none;
	border-right: 1px solid #0000FF;
}

#navigation li a:hover { background: #0000FF; }

#edito
{
	clear: left;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	
}

#edito h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#news
{	
	float: left;
	width: 40%;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	
	
}

#footer
{
	clear: both;
	background: #0000FF;
	text-align: right;
	padding: 20px;
	height: 1%;
}
